body {
background-color: #DBF9FC;
}

title {
text-align: center;
}

.div-1 {
	background-color: #C36279;
	color: white;
	font-size: 32px;
	align-content: center;
	font-weight: bold;
	padding: 20px;
	border: 30px #75142B;
	margin: 30px;
}

p {
	background-color: #4E0012;
	color: white;
	font-size: 18px;
	border: 60px white;
	margin: 30px;
}

img {
	align-content: center;
	padding: 10px;
	border: 30px;
	margin: 30px;
	display: flex;
	box-shadow: 0 0 10px rgba(0 0 0 / 30%);
}

.container {
	display: flex;
	border: 2px black solid;
}


